-# <チャット画面>
.main-chat

  .main-chat__header
    .main-chat__header__data
      .main-chat__header__data__group
        グループ名
      .main-chat__header__data__name
        Member : ゆうし

    .main-chat__header__edit
      = link_to "#", class: "contents__btn" do
        Edit


  .main-chat__space
    .main-chat__space__messages
      .main-chat__space__messages__data
        .main-chat__space__messages__data__name
          ゆうし
          .main-chat__space__messages__data__name__time
            2020/02/26(wed)18:32:56
        .main-chat__space__messages__data__comment
          こんにちは!
      .main-chat__space__messages__data
        .main-chat__space__messages__data__name
          ゆうし
          .main-chat__space__messages__data__name__time
            2020/02/26(wed)18:32:56
        .main-chat__space__messages__data__comment
          ありがとう!
      .main-chat__space__messages__data
        .main-chat__space__messages__data__name
          ゆうし
          .main-chat__space__messages__data__name__time
            2020/02/26(wed)18:32:56
        .main-chat__space__messages__data__comment
          さよなら!


  .main-chat__footer
    .main-chat__footer__form
      .main-chat__footer__form__box
        %input.main-chat__footer__form__box{:placeholder => "type a message"}
        .main-chat__footer__form__box__image
          %label
            = icon('fas fa-L', 'image')
            %input{type: "file"} 
      .main-chat__footer__form__send-button
        = link_to "#", class: "send__btn" do
          Send

