-# <チャット画面>
.main-chat

  .main-chat__header
    .main-chat__header__data
      .main-chat__header__data__group
        グループ名
      .main-chat__header__data__name
        Member : ゆうし

    .main-chat__header__edit
      Edit

  .main-chat__space
    名前・テキスト・年月日

  .main-chat__footer
    入力する箱・投稿ボタン