-# <サイドバー>
.side-bar
  .side-bar__header
    .side-bar__header__content
      .side-bar__header__content__name
        ゆうし
      .side-bar__header__content__icons
        .side-bar__header__content__icons__pencil
          -# = link_to "https://www.facebook.com/", class: "contents__btn" do
          = icon('fas fa-L', 'edit')
        .side-bar__header__content__icons__option
          = icon('fas fa-L', 'cog')

    

  .side-bar__space
    .side-bar__space__groups
      .side-bar__space__groups__name
        グループ名
      .side-bar__space__groups__message
        まだメッセージがありません
    .side-bar__space__groups
      .side-bar__space__groups__name
        グループ名
      .side-bar__space__groups__message
        まだメッセージがありません
