.main-chat
  .main-chat-header {
    width: 100px;
    height: 100px;
    background-color: #ffffff ;
    }

  .main-chat-space {
    width: 100px;
    height: 100px;
    background-color: #fafafa ;
    }

  .main-chat-footer {
    width: 100px;
    height: 100px;
    background-color: #d2d2d2 ;
    }