.message {
  margin-bottom: 45px;
  div {
    display: flex;
    f {
      font-size: large;
    }
    a {
      font-size: 12px;
      margin-left: 10px;
      color: #999999;
    }
  p {
    margin-top: 35px;
    margin-bottom: 20px;
  }
  }
}