.side-bar {
  width: 300px;
  &__header {
    height: 100px;
    background-color: #253141;
    justify-content:center;
    display: flex;
    align-items: center;
    
    &__content {
      width: 260px;
      height: 20px;
      background-color: #253141;
      display: flex;
      justify-content: space-between;

      

      &__name {
        color: white;
        font-size: 16px;
        font-weight: bold;
      }

      &__icons {
        width: 60px;
        background-color:#253141;
        display: flex;
        justify-content: flex-end;


        &__pencil {
          i {
            color: white;
          }
        }
        
        &__option {
          margin-left: 5px;
          i {
            color: white;
          }
        }
      }
    }
  }

  &__space {
    height: calc(100vh - 100px);
    background-color: #2f3e51 ;
    
    &__groups {
      background-color: #2f3e51 ;
      padding: 20px;

      &__name {
        color: #ffffff;
        font-size: 15px;
        margin-bottom: 5px;
      }

      &__message {
        color: #ffffff;
        font-size: 11px;

      } 
    }
  }
}